@media (max-width: 1024px){
    .text-title{
        font-size: 30px;
    }
    .text-desc{
        font-size: 14px;
    }
    .container{
        padding: 5px 40px;
    }
    .text-foot{
        padding: 30px 0;
    }
    .minimo-signup{
        margin: 100px 0;
    }
    .minimo-signup .signup-input .signup-title{
        padding: 10px 0 50px;
    }
    .minimo-footer .footer-list{
        padding: 50px 0;
    }
}
@media (max-width: 768px){
    .header-minimo .head-list{
        padding: 20px 20px;;
    }
    .header-minimo .head-list .menu-btn{
        display: block;
        font-size: 30px;
        margin-top: -13px;
    }
    .head-list .head-nav{
        display: none;
    }
    .head-list .head-nav ul{
        display: block;
    }
    .slider-minimo .img-slider{
        padding: 0;
    }
    .container{
        padding: 5px 0px;
    } 
    .text-cmt{
        padding: 30px 10px 10px;
    }
    .text-title{
        padding: 0 10px 10px;
        font-size: 19px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .text-desc{
        color: #626262;
        font-size: 16px;
        text-align: justify;
        padding: 0 10px 0;
        line-height: 1.6;
    }
    .text-foot{
        padding: 30px 10px;
    }
    .desc-list{
        display: block;
    }
    .desc-list .list-item{
        width: 100%;
    }
    .desc-list .list-item:nth-child(2n){
        margin-left: 0;
    }
    .desc-list .list-item:nth-child(n+3){
        padding-top: 0;
    }
    .desc-list .list-item:nth-child(n+2){
        padding-top: 50px;
    }
    .desc-list .list-item:nth-child(3) .text-desc,
    .minimo-desc-more .list-item:nth-child(2) .text-desc{
        padding-top: 0;
    }
    .minimo-signup .signup-input .signup-title{
        padding: 10px 0 40px;
        font-size: 28px;
    }
    .desc-list .btn-load-more{
        padding: 50px 0;
    }
    .btn-load-more a{
        padding: 15px 30px;
    }
    .minimo-footer .footer-list{
        display: block;
        padding: 50px 100px;
    }
    .footer-list .footer-desc{
        padding-bottom: 30px;
    }
    .footer-list .footer-desc,
    .footer-list .footer-icon{
        width: 100%;
    }
    .footer-list .footer-desc p,
    .footer-icon .item{
        font-size: 16px;
    }
}
@media (max-width:475px){
    .minimo-footer .footer-list{
        padding: 50px 50px;
    }
    .footer-list .footer-desc p,
    .footer-list .footer-icon p{
        font-size: 14px;
    }
}

